In [34]:
# мой рекомендательный алгоритм начинается с блока 9
import numpy as np
import pandas as pd
import math

In [35]:
KNN = 4
MY_USER = 22
NO_RATE = -1
def readAndFormat(file):
    table = pd.read_csv(file, delimiter=', ')
    table = table.drop(columns=[table.columns[0]])
    return table
data = readAndFormat('data.csv')

In [36]:
def getSimDict(data, relativeToUser):
    sim = dict(zip(list(data.index.values) , [0 for i in range(len(data))]))
    del sim[relativeToUser]
    for user in sim.keys():
        set = data.iloc[[user, relativeToUser]]
        set = set.transpose()
        set = set[(set[user] != NO_RATE) & (set[relativeToUser] != NO_RATE )]
        sumuv = 0
        sumuu = 0
        sumvv = 0
        for index, row in set.iterrows():
            sumuv +=row[user] * row[relativeToUser]
            sumuu +=row[user] * row[user]
            sumvv +=row[relativeToUser] * row[relativeToUser]
        sim[user] = round(sumuv / (math.sqrt(sumuu) * math.sqrt(sumvv)), 3)
    return sim

In [37]:
def headSortedDict(dictionary, n):
    return dict(sorted(list(dictionary.items()), key=lambda x: x[1], reverse=True)[:n])

In [38]:

def meanForDataFrame(data):
    def tupleToMean(x):
        l = np.array(list(filter(lambda x: x != NO_RATE, x)))
        user = l[0]
        l = np.delete(l, [0])
        return [user, l.mean()]
    return dict(list(map(tupleToMean, data.to_records())))

In [39]:
# неоцененные фильмы
def getUnratedMovies(data, user):
    return list(data.loc[user][data.loc[user] == NO_RATE].keys())

In [40]:
UNRATED = getUnratedMovies(data, MY_USER)
UNRATED

['Movie 3',
 'Movie 6',
 'Movie 7',
 'Movie 9',
 'Movie 21',
 'Movie 22',
 'Movie 26']

In [41]:
SIM = getSimDict(data, MY_USER)
SIM

{0: 0.831,
 1: 0.798,
 2: 0.825,
 3: 0.903,
 4: 0.885,
 5: 0.836,
 6: 0.865,
 7: 0.785,
 8: 0.721,
 9: 0.868,
 10: 0.738,
 11: 0.869,
 12: 0.844,
 13: 0.719,
 14: 0.854,
 15: 0.839,
 16: 0.815,
 17: 0.817,
 18: 0.772,
 19: 0.888,
 20: 0.863,
 21: 0.845,
 23: 0.824,
 24: 0.802,
 25: 0.763,
 26: 0.916,
 27: 0.873,
 28: 0.807,
 29: 0.779,
 30: 0.817,
 31: 0.811,
 32: 0.801,
 33: 0.787,
 34: 0.862,
 35: 0.883,
 36: 0.725,
 37: 0.859,
 38: 0.753,
 39: 0.794}

In [42]:
CLOSEST_SIM = headSortedDict(SIM, KNN)
CLOSEST_SIM

{26: 0.916, 3: 0.903, 19: 0.888, 4: 0.885}

In [43]:
MEANS = meanForDataFrame(data.iloc[[*list(CLOSEST_SIM.keys()), MY_USER]])
MEANS

{26: 3.3333333333333335,
 3: 3.142857142857143,
 19: 3.1818181818181817,
 4: 3.3076923076923075,
 22: 3.391304347826087}

In [44]:
newRates = {}
for film in UNRATED:
    sumt = 0
    sumb = 0
    for user in CLOSEST_SIM.keys():
        rate = data.loc[user, film]
        if rate == NO_RATE:
            continue 
        sumb += SIM[user]
        sumt += SIM[user] * (data.loc[user, film] - MEANS[user])
    newRates[film] = round(MEANS[MY_USER] + sumt/sumb, 3)

print(newRates)

{'Movie 3': 2.651, 'Movie 6': 3.474, 'Movie 7': 2.907, 'Movie 9': 3.144, 'Movie 21': 4.084, 'Movie 22': 3.144, 'Movie 26': 3.898}

In [45]:
dataDays = readAndFormat('context_day.csv')
dataPlaces =readAndFormat('context_place.csv')
DAYS = ['Sat', 'Sun']
PLACES = ['h']

In [46]:
# Возьмем 4 людей с наиболее близкими вкусами

In [47]:
# посчитаем оценку фильмов, которые не смотрел пользователь как выше, но добавим контекстый вес:
# для учета оценки, хотя бы 1 контекст должен совпасть 
# если совпали оба контекста, учтем оценку дополнительный раз, тем самым, увеличим ее все
newRatesWithContext = {}
for film in UNRATED:
    sumt = 0
    sumb = 0
    for user in CLOSEST_SIM.keys():
        rate = data.loc[user, film]
        if rate == NO_RATE:
            continue 
        if dataDays.loc[user, film] in DAYS:
            sumb += SIM[user]
            sumt += SIM[user] * (data.loc[user, film] - MEANS[user])
        if dataPlaces.loc[user, film] in PLACES:
            sumb += SIM[user]
            sumt += SIM[user] * (data.loc[user, film] - MEANS[user])
    newRatesWithContext[film] = round(MEANS[MY_USER] + (sumt/sumb if sumb !=0 else 0) , 3)

print(newRatesWithContext)

{'Movie 3': 2.223, 'Movie 6': 2.523, 'Movie 7': 2.855, 'Movie 9': 3.058, 'Movie 21': 3.391, 'Movie 22': 2.229, 'Movie 26': 4.145}

In [48]:
# выбирем фильм с наибольшей оценкой
BEST_SUGGESTION = headSortedDict(newRatesWithContext, 1)
BEST_SUGGESTION

{'Movie 26': 4.145}

In [49]:
# формируем результат и пишем в json
result = {
    'user': MY_USER + 1,
    '1': newRates,
    '2': BEST_SUGGESTION
}
print(result)
import json
with open('result.json', 'w') as fp:
    json.dump(result, fp, indent=4)

{'user': 23, '1': {'Movie 3': 2.651, 'Movie 6': 3.474, 'Movie 7': 2.907, 'Movie 9': 3.144, 'Movie 21': 4.084, 'Movie 22': 3.144, 'Movie 26': 3.898}, '2': {'Movie 26': 4.145}}

In [50]:
# 3.2
# Берем называния фильмов и мапим их к wikiId
movieNames = pd.read_csv('movie_names.csv', delimiter=', ', names = ['index', 'name'])
print(movieNames)
movies = list(map(lambda x: x, newRates.keys()))
names = []
for m in movies:
     names.append(movieNames[movieNames['index'] == m].values[0][1])
names

       index                                               name
0    Movie 1                           The Shawshank Redemption
1    Movie 2                                      The Godfather
2    Movie 3                             The Godfather: Part II
3    Movie 4                                    The Dark Knight
4    Movie 5                                       12 Angry Men
5    Movie 6                                   Schindler's List
6    Movie 7      The Lord of the Rings: The Return of the King
7    Movie 8                                       Pulp Fiction
8    Movie 9                      The Good the Bad and the Ugly
9   Movie 10                                         Fight Club
10  Movie 11  The Lord of the Rings: The Fellowship of the Ring
11  Movie 12                                       Forrest Gump
12  Movie 13     Star Wars: Episode V - The Empire Strikes Back
13  Movie 14                                          Inception
14  Movie 15              The Lord of the Rings: The Two Towers
15  Movie 16                    One Flew Over the Cuckoo's Nest
16  Movie 17                                         Goodfellas
17  Movie 18                                         The Matrix
18  Movie 19                                      Seven Samurai
19  Movie 20                                        City of God
20  Movie 21                                              Se7en
21  Movie 22                 Star Wars: Episode IV - A New Hope
22  Movie 23                           The Silence of the Lambs
23  Movie 24                              It's a Wonderful Life
24  Movie 25                                  Life Is Beautiful
25  Movie 26                                 The Usual Suspects
26  Movie 27                                      Spirited Away
27  Movie 28                                Saving Private Ryan
28  Movie 29                             Leon: The Professional
29  Movie 30                                     The Green Mile

['The Godfather: Part II',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'The Good the Bad and the Ugly',
 'Se7en',
 'Star Wars: Episode IV - A New Hope',
 'The Usual Suspects']

In [51]:
wikiIds = {}
from SPARQLWrapper import SPARQLWrapper, JSON
import requests
API_ENDPOINT = "https://www.wikidata.org/w/api.php"
for name in names:
    params = {
        'action' : 'wbsearchentities',
        'format' : 'json',
        'language' : 'en',
        'search': name
    }
    res = requests.get(API_ENDPOINT, params = params)
    wikiIds[name] = res.json()['search'][0]['id']
wikiIds

{'The Godfather: Part II': 'Q202326',
 "Schindler's List": 'Q483941',
 'The Lord of the Rings: The Return of the King': 'Q131074',
 'The Good the Bad and the Ugly': 'Q33851544',
 'Se7en': 'Q190908',
 'Star Wars: Episode IV - A New Hope': 'Q17738',
 'The Usual Suspects': 'Q132351'}

In [52]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
spouse = {}
for [name, wikiId] in list(wikiIds.items()):
    sparql_query = """
SELECT ?wifu ?wifuLabel ?date WHERE {
  ?film wdt:P57 ?director FILTER(?film = wd:""" + wikiId +        """).
  ?wifu (wdt:P26|wdt:P451) ?director;
                           wdt:P569 ?date.
  SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
}"""

    sparql.setQuery(sparql_query)

    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.io.json.json_normalize(results['results']['bindings'])
    if results_df.size != 0:
        names = results_df[['wifuLabel.value', 'date.value']]['wifuLabel.value'].values
        dates = results_df[['wifuLabel.value', 'date.value']]['date.value'].values
        spouse[name] = []
        for i in range(len(names)):
            spouse[name].append({ "name": names[i], "dateOfBirth": dates[i] })
    else:
        spouse[name] = []
spouse

{'The Godfather: Part II': [{'name': 'Eleanor Coppola',
   'dateOfBirth': '1936-05-04T00:00:00Z'}],
 "Schindler's List": [{'name': 'Kate Capshaw',
   'dateOfBirth': '1953-11-03T00:00:00Z'}],
 'The Lord of the Rings: The Return of the King': [{'name': 'Fran Walsh',
   'dateOfBirth': '1959-01-10T00:00:00Z'}],
 'The Good the Bad and the Ugly': [],
 'Se7en': [],
 'Star Wars: Episode IV - A New Hope': [{'name': 'Marcia Lucas',
   'dateOfBirth': '1945-10-04T00:00:00Z'},
  {'name': 'Mellody Hobson', 'dateOfBirth': '1969-04-03T00:00:00Z'}],
 'The Usual Suspects': []}